<%= form_with(model: manifestation, local: true) do |form| %>
  <% if manifestation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manifestation.errors.count, "error") %> prohibited this manifestation from being saved:</h2>

      <ul>
      <% manifestation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :immediate %>
    <%= form.text_field :immediate, id: :manifestation_immediate %>
  </div>

  <div class="field">
    <%= form.label :short_term %>
    <%= form.text_field :short_term, id: :manifestation_short_term %>
  </div>

  <div class="field">
    <%= form.label :long_term %>
    <%= form.text_field :long_term, id: :manifestation_long_term %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
