<p id="notice"><%= notice %></p>

<p>
  <strong>Immediate:</strong>
  <%= @manifestation.immediate %>
</p>

<p>
  <strong>Short term:</strong>
  <%= @manifestation.short_term %>
</p>

<p>
  <strong>Long term:</strong>
  <%= @manifestation.long_term %>
</p>

<%= link_to 'Edit', edit_manifestation_path(@manifestation) %> |
<%= link_to 'Back', manifestations_path %>
