<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<p id="notice"><%= notice %></p>




<h1>Intentions</h1>


<div class="calendar"></div>

<div id="remote_container"></div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>


<!-- Below is the Calendar code -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Template" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Template" %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      
    </header>
    <main role="main">
      <div class='container'>
      
        <%= yield %>
        <div id='remote_container'></div>
      </div>
    </main>
  </body>
</html>



<!-- This is the end of the calendar code -->




  <tbody>
    <% @intentions.each do |intention| %>
      <tr>
        <td><%= link_to 'Show', intention %></td>
        <td><%= link_to 'Edit', edit_intention_path(intention) %></td>
        <td><%= link_to 'Destroy', intention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intention', new_intention_path %>
